<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
</head>

<body>
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-{{ message.category }}" role="alert">
            <span class="close-btn" onclick="closeAlert(this)">&times;</span>
            {{ message }}
        </div>
        {% endfor %}
    <h2>Sign Up</h2>
    <form method="POST" action="{{ url_for('signup') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>

        <label for="password">Name:</label>
        <input type="text" name="name" id="name" required><br>

        <button type="submit">Sign Up</button>
    </form>
</body>

</html>